[user]
    name = 3º MTEC - Desenv. de Sistemas
    email = ds-mtec-3@servidor.acad

[core]
    fileMode = false
    ignorecase = true

[push]
    default = simple

[init]
    defaultBranch = main

[credential]
    helper = store

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true 